body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.polygonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  z-index: 0;
}

svg {
  position: absolute;
  min-width: 600px;
  min-height: 600px;
}

.dodecagon-cw {
  animation-name: rotation-cw;
  animation-duration: 4000s;
  animation-iteration-count: infinite;
}

@keyframes rotation-cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(36000deg);
  }
}

.dodecagon-ccw {
  animation-name: rotation-ccw;
  animation-duration: 4000s;
  animation-iteration-count: infinite;
}

@keyframes rotation-ccw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-36000deg);
  }
}
