body {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  background-color: rgb(51, 34, 58) !important;
}

#circle {
  display: block;
  position: absolute;
  background-color: rgb(236, 228, 228);
  height: 3000px;
  width: 3000px;
  border-radius: 50%;
  z-index: 400;
  top: -200px;
  bottom: -200px;
  left: -200px;
  right: -200px;
  margin: auto;
}

.menuContainer {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  min-height: 300px;
  min-width: 300px;
}

.polygonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 110vw;
  max-width: 150vh;
  min-width: 400px;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

div#progressBar {
  width: 100%;
}

.wrapper {
  overflow: hidden;
  background-color: transparent;
  border-radius: 25px;
  height: 80%;
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 2;
  max-height: 105vw;
  max-width: 90vh;
  min-width: 300px;
  min-height: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider img {
  margin: 0 auto 0 auto;
  width: 45%;
}

#config {
  pointer-events: none;
  display: none;
  height: 30%;
}

#config h1 {
  margin: auto;
  font-size: 300%;
}

#gameSearch {
  pointer-events: none;
  display: none;
}

.loading {
  margin-top: 10px;
}

.loading img {
  width: 15%;
}

h3 {
  font-size: 120%;
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: auto;
  max-width: 50vw;
  align-items: center;
}

li {
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 10px;
  border: solid transparent;
  transition: all 0.3s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  width: 80%;
}

li:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideOutLeft {
  animation-name: slideOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideOutRight {
  animation-name: slideOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideOutLeft {
  5% {
    width: 25rem;
  }
  90% {
    transform: translateX(-2000px);
  }

  95% {
    transform: translateY(1300px);
  }

  100% {
    transform: translateX(1300px);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

@keyframes slideOutLeft {
  5% {
    width: 25rem;
  }
  90% {
    transform: translateX(-2000px);
  }

  95% {
    transform: translateY(1300px);
  }

  100% {
    transform: translateX(1300px);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

@keyframes slideOutRight {
  5% {
    width: 25rem;
  }
  90% {
    transform: translateX(2000px);
  }

  95% {
    transform: translateY(1300px);
  }

  100% {
    transform: translateX(-1300px);
  }
}
