body,
html {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center; */
  background-image: url("../img/Comp\ 1.gif");
  background-size: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: "shimano-narrow-round", sans-serif;
  font-size: larger;
}

.container {
  height: 100%;
}

.menuContainer {
  height: 100%;
  width: 0%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(0, 138, 138);
  overflow: hidden;
  z-index: 1000;
}

#mainMenu img {
  margin-bottom: 15%;
}

.inside-border {
  height: 100%;
  width: 95%;
  border-left: 5px solid rgb(255, 255, 255, 0.8);
  border-right: 5px solid rgb(255, 255, 255, 0.8);
  margin: 0 auto;
}

.inside-border .slider {
  padding: 10%;
}

.close {
  animation-name: close;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.open {
  animation-name: open;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    width: 40%;
  }

  to {
    width: 0;
  }
}

@keyframes open {
  from {
    width: 0%;
  }

  to {
    width: 40%;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  z-index: 0;
  width: 40%;
  height: 100%;
}

#config {
  pointer-events: none;
  display: none;
  height: 60%;
}

#config h1 {
  margin: auto;
  font-size: 300%;
}

#gameSearch {
  pointer-events: none;
  display: none;
}

.loading {
  margin-top: 10px;
}

.loading img {
  width: 15%;
}

h3 {
  font-size: 120%;
  display: none;
  color: snow;
}

ul {
  list-style: none;
  padding: 0;
  height: 40%;
  width: 100%;
  max-width: 50vw;
  align-items: center;
}

li {
  color: black;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: snow;
  font-size: 140%;
}

.menuContainer li {
  color: snow;
  margin: auto;
  margin-top: 3%;
  border-radius: 40px;
  border: 2px solid snow;
  transition: all 0.3s;
  width: 100%;
  height: 30%;
  background-color: rgb(255, 154, 60);
  font-size: 140%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuContainer li:hover {
  background-color: rgb(0, 0, 0, 0.6);
}

.playerStats {
  width: 18.75vw;
  height: 15vw;
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 150;
}

.playerStats.player1 {
  border-radius: 0px 15px 15px 0px;
  float: left;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25%;
}

.playerStats.player2 {
  border-radius: 15px 0px 0px 15px;
  position: absolute;
  float: right;
  top: 0;
  bottom: 0;
  right: -25%;
  margin: auto 0;
}

.slideInPlayer1 {
  animation-name: slideInPlayer1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.slideInPlayer2 {
  animation-name: slideInPlayer2;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.slideOutPlayer1 {
  animation-name: slideOutPlayer1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.slideOutPlayer2 {
  animation-name: slideOutPlayer2;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.playerInfo img {
  margin-top: 5%;
  width: 20%;
  border-radius: 50%;
}

.trophies {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  height: 6vw;
  width: 15vw;
  margin: auto;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  width: 70%;
  padding-left: 4%;
}

.trophy {
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trophies img {
  height: 50%;
  border-radius: 0%;
  transform: rotate(0deg);
}

h5 {
  font-size: small;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .playerStats {
    width: 112.5px;
    height: 90px;
  }

  .trophies {
    height: 36px;
    width: 90px;
  }
}

@keyframes slideInPlayer1 {
  from {
    left: -25%;
  }
  to {
    left: 0;
  }
}

@keyframes slideInPlayer2 {
  from {
    right: -25%;
  }
  to {
    right: 0;
  }
}

@keyframes slideOutPlayer1 {
  from {
    left: 0%;
  }
  to {
    left: -25%;
  }
}

@keyframes slideOutPlayer2 {
  from {
    right: 0%;
  }
  to {
    right: -25%;
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.slideOutLeft {
  animation-name: slideOutLeft;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.slideOutRight {
  animation-name: slideOutRight;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(1500px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideOutLeft {
  90% {
    transform: translateX(-2000px);
  }

  95% {
    transform: translateY(1300px);
  }

  100% {
    transform: translateX(1300px);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

@keyframes slideOutRight {
  90% {
    transform: translateX(2000px);
  }

  95% {
    transform: translateY(1300px);
  }

  100% {
    transform: translateX(-1300px);
  }
}

#trophySelection {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto !important;
  text-align: center;
  z-index: -1;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#WCselection {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto !important;
  text-align: center;
  z-index: -1;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#trophySelection .slider {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
  overflow: visible;
  height: 32vw;
}

#WCselection .slider {
  display: flex;
  margin: auto;
  text-align: center;
}

#WCselection .slider img {
  margin-left: 10%;
}

.trophyBtn {
  display: inline-block;
  height: 15vw;
  width: 15vw;
  background-color: white;
  border-radius: 10%;
  transition: all 0.5s;
  margin: 1%;
  padding: 1%;
}

.trophyBtn img {
  transform: rotate(0deg);
  margin-top: 12%;
  height: 85%;
}

.trophyBtn:hover {
  background-color: rgba(220, 220, 220, 0.5);
}

.resetTrophyColors {
  background-color: white !important;
}

.resetTrophyColors:hover {
  background-color: rgba(220, 220, 220, 0.5) !important;
}

.gameStuff {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.gameContainer {
  width: 100%;
  height: 100%;
}

#choicesContainer {
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

#choicesContainer h1 {
  font-size: 140%;
  width: 80%;
  margin: 0 auto;
  height: 40%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: snow;
  border-radius: 20px 0px;
  padding: 15px;
}

#choicesContainer li {
  width: 80%;
  font-size: 110%;
}

#choicesContainer li:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.correctAnswer {
  background-color: lightgreen;
}

.correctAnswer:hover {
  background-color: lightgreen !important;
}

.wrongAnswer {
  background-color: rgb(221, 73, 73);
}

.wrongAnswer:hover {
  background-color: rgb(221, 73, 73) !important;
}

.nextButton {
  opacity: 0;
  transition: all 2s;
  display: none;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  position: relative;
  z-index: 10;
}

.backToMenuH2 {
  width: 200%;
  font-size: 400%;
  font-weight: bold;
  color: snow;
}

.notShowing {
  display: none !important;
  z-index: -1 !important;
}

button {
  background-color: rgb(255, 154, 60);
  border: none;
  border-radius: 15px;
  width: 80%;
  margin-top: 15%;
}

@media only screen and (max-width: 450px) {
  #wheelContainer {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 750px) and (min-width: 450px) {
  #wheelContainer {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 900px) and (min-width: 750px) {
  #wheelContainer {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 1000px) and (min-width: 900px) {
  #wheelContainer {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  #wheelContainer {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  #wheelContainer {
    transform: scale(1.4);
  }
}

@media only screen and (min-width: 1400px) {
  #wheelContainer {
    transform: scale(1.5);
  }
}

.progress {
  background-color: transparent;
  width: 100%;
  height: 4%;
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  animation-name: slideUp;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
}

@keyframes slideUp {
  from {
    bottom: -25%;
  }
  to {
    bottom: 10px;
  }
}

.progressBar {
  border-radius: 15px;
  display: inline-block;
  border: 0.2vw solid rgb(0, 0, 0);
  height: 1.3vw;
  width: 15vw;
  background-color: lightgrey;
  box-shadow: inset 0px 0px 0.2vw rgba(0, 0, 0, 0.8);
  margin: 0 0.0625%;
  z-index: 1000;
}

.completed {
  border-radius: 15px;
  box-shadow: inset 0px 0px 0.2vw rgba(0, 0, 0, 0.8);
  background-color: rgb(255, 154, 60);
  height: 100%;
  z-index: 1001;
  animation-name: completed;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes completed {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
