body {
  #wheelContainer {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
  }
  // Placeholders
  %clip--v {
    height: 150px;
    width: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dedede+100 */
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 1)),
      color-stop(100%, rgba(222, 222, 222, 1))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* IE10+ */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */

    z-index: 2;
    border-radius: 10px;
    position: absolute;
  }
  %clip--h {
    height: 12px;
    width: 192px;
    z-index: 2;
    border-radius: 10px;
    position: absolute;
    left: -4px;
  }
  %elip {
    position: absolute;
    height: 122px;
    width: 17px;
    border-radius: 24%;
    z-index: 4;
  }

  // Clips
  .clip_l {
    @extend %clip--v;
    left: -10px;
    box-shadow: 5px 0px 1px -3px black;
  }

  .clip_r {
    @extend %clip--v;
    right: -10px;
    box-shadow: -5px 0px 1px -3px black;
  }

  .clip_t {
    @extend %clip--h;
    background: #fefefe;
  }

  .clip_b {
    @extend %clip--h;
    bottom: -10px;
    background: #e0e0e0;
  }
  .inner_shadow {
    position: absolute;
    width: 175px;
    pointer-events: none;
    height: 126px;
    box-shadow: 0px -2px 2px 0px rgba(2, 2, 2, 0.17) inset,
      0px 0px 0px 4px #f1f1f1,
      0px -71px 60px -45px rgba(255, 255, 255, 0.6) inset,
      0px 33px 11px -20px rgba(2, 2, 2, 0.82) inset;
    border: 3px 3px 3px 3px solid white;
    border-radius: 10px;
    left: 0;
    top: 12px;
    z-index: 4;
  }
}

#wheelContainer img {
  height: 75%;
  margin: auto;
  transform: rotate(180deg);
}

.roll {
  perspective: 1400px;
  width: 175px;
  height: 140px;
  margin: 0 auto;
  &_outer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dedede+100 */
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 1)),
      color-stop(100%, rgba(222, 222, 222, 1))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* IE10+ */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(222, 222, 222, 1) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */

    height: 153px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #c3c3b8;
    width: 201px;
    top: -3px;
    position: absolute;
    left: -13px;
  }
  .shine {
    width: 400px;
    height: 400px;
    pointer-events: none;
    position: absolute;
    border-radius: 400px;
    z-index: 99;
    opacity: 0.1;
  }
  // Shadows sides
  .elip_l {
    @extend %elip;
    left: 0px;
    top: 16px;
    box-shadow: -8px 0px 10px -5px black;
  }
  .elip_r {
    @extend %elip;
    left: 158px;
    top: 16px;
    box-shadow: 8px 0px 10px -5px black;
  }
  &_inner {
    cursor: pointer;
    transform-origin: 50% 50% 60px;
    height: 151px;
    transform-style: preserve-3d;
    transition: all 0.35s cubic-bezier(0.42, 1.84, 0.46, 0.68);
    transform: rotateX(180deg);
    &__button {
      transform-style: preserve-3d;
      width: 175px;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.28) inset,
        0px 2px 0px rgba(0, 0, 0, 0.44) inset;
      height: 70px;
      background: -webkit-linear-gradient(
        top,
        rgba(30, 30, 30, 1) 0%,
        rgba(79, 79, 79, 1) 100%
      );
      top: 40px;
      position: absolute;
      transform-origin: 35px 35px (((70 * 1.73205080757 + 0px)-1)/2);
      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          transform: rotateX(0deg + (($i * 60 - 60)));
        }
      }
      .fa {
        transform: rotateZ(180deg) rotateY(180deg) translateY(-12px)
          translatez(7px) scale(0.8);
        text-shadow: 0px 2px rgba(0, 0, 0, 0.43);
      }
    }
  }
}

// .roll.active {
//   .roll_outer {
//     background: linear-gradient(to bottom, #de4e4e 0%, #a75050 100%);
//   }
//   .clip_l,
//   .clip_r {
//     background: linear-gradient(to bottom, #ff3535 0%, #c13636 100%);
//   }
//   .clip_t {
//     background: #ec4848;
//   }
//   .clip_b {
//     background: #b73f3f;
//   }
// }

// Colors
.men-1 {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a3b80+0,4069bf+100 */
  background: rgb(26, 59, 128); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(26, 59, 128, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(26, 59, 128, 1)),
    color-stop(100%, rgba(64, 105, 191, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(26, 59, 128, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(26, 59, 128, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(26, 59, 128, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(26, 59, 128, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a3b80', endColorstr='#4069bf',GradientType=0 ); /* IE6-9 */
}
.men-2 {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#07aeff+0,4069bf+100 */
  background: rgb(7, 174, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(7, 174, 255, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(7, 174, 255, 1)),
    color-stop(100%, rgba(64, 105, 191, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(7, 174, 255, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(7, 174, 255, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(7, 174, 255, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(7, 174, 255, 1) 0%,
    rgba(64, 105, 191, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07aeff', endColorstr='#4069bf',GradientType=0 ); /* IE6-9 */
}
.men-3 {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#172322+0,27393f+100 */
  background: rgb(23, 35, 34); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(23, 35, 34, 1) 0%,
    rgba(39, 57, 63, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(23, 35, 34, 1)),
    color-stop(100%, rgba(39, 57, 63, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(23, 35, 34, 1) 0%,
    rgba(39, 57, 63, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(23, 35, 34, 1) 0%,
    rgba(39, 57, 63, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(23, 35, 34, 1) 0%,
    rgba(39, 57, 63, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(23, 35, 34, 1) 0%,
    rgba(39, 57, 63, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172322', endColorstr='#27393f',GradientType=0 ); /* IE6-9 */
}
.men-4 {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de163b+0,ff343a+100 */
  background: rgb(222, 22, 59); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(222, 22, 59, 1) 0%,
    rgba(255, 52, 58, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(222, 22, 59, 1)),
    color-stop(100%, rgba(255, 52, 58, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(222, 22, 59, 1) 0%,
    rgba(255, 52, 58, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(222, 22, 59, 1) 0%,
    rgba(255, 52, 58, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(222, 22, 59, 1) 0%,
    rgba(255, 52, 58, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(222, 22, 59, 1) 0%,
    rgba(255, 52, 58, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de163b', endColorstr='#ff343a',GradientType=0 ); /* IE6-9 */
}
.men-5 {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059a8+0,2984b2+100 */
  background: rgb(0, 89, 168); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 89, 168, 1) 0%,
    rgba(41, 132, 178, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 89, 168, 1)),
    color-stop(100%, rgba(41, 132, 178, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 89, 168, 1) 0%,
    rgba(41, 132, 178, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 89, 168, 1) 0%,
    rgba(41, 132, 178, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 89, 168, 1) 0%,
    rgba(41, 132, 178, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 89, 168, 1) 0%,
    rgba(41, 132, 178, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059a8', endColorstr='#2984b2',GradientType=0 ); /* IE6-9 */
}
.men-6 {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd2b7c+0,fd5c99+100 */
  background: rgb(253, 43, 124); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(253, 43, 124, 1) 0%,
    rgba(253, 92, 153, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(253, 43, 124, 1)),
    color-stop(100%, rgba(253, 92, 153, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(253, 43, 124, 1) 0%,
    rgba(253, 92, 153, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(253, 43, 124, 1) 0%,
    rgba(253, 92, 153, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(253, 43, 124, 1) 0%,
    rgba(253, 92, 153, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(253, 43, 124, 1) 0%,
    rgba(253, 92, 153, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd2b7c', endColorstr='#fd5c99',GradientType=0 ); /* IE6-9 */
}

.wheelBtn {
  display: block;
  position: relative;
  border: 0;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  background: transparent;
  border-radius: 0.25rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

.wheelBtn,
.wheelBtn:after,
.wheelBtn:before {
  padding: 0.6875rem 2rem;
  -webkit-transition: -webkit-transform 0.75s, background-color 0.125s;
  -moz-transition: -moz-transform 0.75s, background-color 0.125s;
  -ms-transition: -ms-transform 0.75s, background-color 0.125s;
  transition: transform 0.75s, background-color 0.125s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wheelBtn:after,
.wheelBtn:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.25rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wheelBtn:before {
  z-index: 2;
  color: #fff;
  background-color: rgb(255, 154, 60);
  content: attr(data-label);
}

.wheelBtn:after {
  z-index: 1;
  background-color: #999;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  content: "";
}

.wheelBtn:active:before {
  background-color: rgb(255, 154, 60);
}

.wheelBtn.loading {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
